//TODO interface to type?
export interface [@EntityName@] {
  [@entityId@]: number;
  [@#fieldsDetail@]
  [@#isTypeOption@]
  [@fieldName@]: {
    name: string;
    value: string;
  };
  [@/isTypeOption@]
  [@#isTypeInt@]
  [@fieldName@]: number;
  [@/isTypeInt@]
  [@#isTypeText@]
  [@fieldName@]: string;
  [@/isTypeText@]
  [@#isTypeDate@]
  [@fieldName@]: Date;
  [@/isTypeDate@]
  [@/fieldsDetail@]
}

export type ResultSet = {
  resultsetSize: number
  data?: [@EntityName@][]
}

export interface [@EntityName@]Create {
  [@#fieldsCreate@]
  [@#isTypeOption@]
  [@fieldName@]Code: string;
  [@/isTypeOption@]
  [@#isTypeInt@]
  [@fieldName@]: number;
  [@/isTypeInt@]
  [@#isTypeText@]
  [@fieldName@]: string;
  [@/isTypeText@]
  [@#isTypeDate@]
  [@fieldName@]: Date;
  [@/isTypeDate@]
  [@/fieldsCreate@]
}

export interface [@EntityName@]Update {
  [@#fieldsEdit@]
  [@#isTypeOption@]
  [@fieldName@]Code: string;
  [@/isTypeOption@]
  [@#isTypeInt@]
  [@fieldName@]: number;
  [@/isTypeInt@]
  [@#isTypeText@]
  [@fieldName@]: string;
  [@/isTypeText@]
  [@#isTypeDate@]
  [@fieldName@]: Date;
  [@/isTypeDate@]
  [@/fieldsEdit@]
}

export interface [@EntityName@]SearchTemplate { // в поисковом dto везде ставим вопросики
  [@#fieldsSearch@]
  [@#isTypeOption@]
  [@fieldName@]Code?: string;
  [@/isTypeOption@]
  [@#isTypeInt@]
  [@fieldName@]?: number;
  [@/isTypeInt@]
  [@#isTypeText@]
  [@fieldName@]?: string;
  [@/isTypeText@]
  [@#isTypeDate@]
  [@fieldName@]?: Date;
  [@/isTypeDate@]
  [@/fieldsSearch@]
}

[@#allOptions@]
export interface [@FieldName@]Option {
  name: string;
  value: string;
}
[@/allOptions@]
