import React, { useState, useEffect } from "react";
import { useHistory } from "react-router-dom";
import { useFormik } from "formik";
import { useTranslation } from "react-i18next";
import { Form } from "@jfront/ui-core";
import { ComboBox, ComboBoxItem, DatePicker, NumberInput, TextInput} from "@jfront/ui-core";
import { useAppDispatch } from "../../../app/store";
import { createRecord } from "../state/[@EntityName@]Slice";
import {
  [@#fieldsCreate@]
  [@#isTypeOption@][@FieldName@]Option,[@/isTypeOption@]
  [@/fieldsCreate@]
  [@EntityName@], [@EntityName@]Create } from "../api/[@EntityName@]Types";
import {
  [@#fieldsCreate@]
  [@#isTypeOption@]get[@FieldName@]Options,[@/isTypeOption@]
  [@/fieldsCreate@]
} from "../api/[@EntityName@]Api";

const [@EntityName@]CreatePage = ({ formRef }) => {
  //----------------
  const history = useHistory();
  const { t } = useTranslation();
  const dispatch = useAppDispatch();
  //----------------

  [@#fieldsCreate@]
  [@#isTypeOption@]const [[@fieldName@]Options, set[@FieldName@]Options] = useState<[@FieldName@]Option[]>();[@/isTypeOption@]
  [@/fieldsCreate@]
  
  [@#fieldsCreate@]
  [@#isTypeOption@]
  useEffect(() => {
    get[@FieldName@]Options().then((options) => {
      set[@FieldName@]Options(options);
    });
  }, []);
  [@/isTypeOption@]
  [@/fieldsCreate@]
  
  const formik = useFormik<[@EntityName@]Create>({
    initialValues: {
      [@#fieldsCreate@]
      [@fieldName@][@#isTypeOption@]Code[@/isTypeOption@]: [@#isTypeOption@]""[@/isTypeOption@][@#isTypeText@]""[@/isTypeText@][@#isTypeDate@]null[@/isTypeDate@],
      [@/fieldsCreate@]
    },
    onSubmit: (values: [@EntityName@]Create) => {
      dispatch(createRecord({ values: values }))
        .then(([@entityName@]) => {
          history.push(`/[@entity_name_dash@]/${[@entityName@].[@entityId@]}/detail`);
        });
    },
    validate: (values) => {
      const errors: {
        [@#fieldsCreate@]
        [@#isFieldRequired@]
        [@fieldName@][@#isTypeOption@]Code[@/isTypeOption@]?: string;
        [@/isFieldRequired@]
        [@/fieldsCreate@]
      } = {};
      [@#fieldsCreate@]
      [@#isFieldRequired@]
      if (!values.[@fieldName@][@#isTypeOption@]Code[@/isTypeOption@]) {
        errors.[@fieldName@][@#isTypeOption@]Code[@/isTypeOption@] = t("validation.notEmpty");
      }
      [@/isFieldRequired@]
      [@/fieldsCreate@]
      
      return errors;
    },
  });

  return (
    <>
      <Form id="create-form" onSubmit={formik.handleSubmit} ref={formRef}>
        
        [@#fieldsCreate@]
        [@>FieldTemplate.mustache@]
        [@/fieldsCreate@]
        
      </Form>
    </>
  );
};

export default [@EntityName@]CreatePage;
