import React, { useEffect } from "react";
import { useTranslation } from "react-i18next";
import { useHistory, useLocation } from "react-router-dom";
import { useDispatch, useSelector } from "react-redux";
import { Grid } from "@jfront/ui-core";
import { [@EntityName@] } from "../api/[@EntityName@]Types";
import { setCurrentRecord } from "../[@entityName@]Slice";
import { selectSearchResult, fetch[@EntityName@]SearchResultset, selectIsLoading, selectResultSetSize, selectSearchId, fetchSearch[@EntityName@]s } from "../[@entityName@]SearchSlice";

const useQuery = () => {
  return new URLSearchParams(useLocation().search);
};

const [@EntityName@]ListPage = () => {
  //----------------
  const history = useHistory();
  const location = useLocation();
  let query = useQuery();
  const { t } = useTranslation();
  const dispatch = useDispatch();
  //----------------

  const pageSize: number = parseInt(query.get("pageSize") as string);
  const page: number = parseInt(query.get("page") as string);
  const records: Array<[@EntityName@]> = useSelector(selectSearchResult);
  const isLoading = useSelector(selectIsLoading);
  const resultSetSize = useSelector(selectResultSetSize);
  const searchId = useSelector(selectSearchId);

  useEffect(() => {
    dispatch(fetch[@EntityName@]SearchResultset(location.search, pageSize, page));
  }, [location]);

  return (
    <>
        <Grid
          id="table"
          columns={[
            [@#fieldsList@]
            {
              Header: t("[@entityName@].fields.[@fieldName@]"),
              [@#isTypeOption@]id: "[@fieldName@]",[@/isTypeOption@]
              accessor: "[@fieldName@][@#isTypeOption@].name[@/isTypeOption@]",
            },
            [@/fieldsList@]
          ]}
          isLoading={isLoading}
          data={records}
          totalRowCount={resultSetSize}
          onSelection={(selectedRecords) => {
            if (selectedRecords.length === 1) {
              dispatch(setCurrentRecord(selectedRecords[0]));
            } else {
              dispatch(setCurrentRecord(undefined));
            }
          }}
          onDoubleClick={(record) => {
            history.push(`/[@entity_name_dash@]/${record.[@entityId@]}/detail`);
          }}
          onPaging={(pageNumber, pageSize) => {
            if (searchId) {
              console.log(`pageNumber = ${pageNumber}, pageSize = ${pageSize}`)
              dispatch(fetchSearch[@EntityName@]s(searchId, pageSize, pageNumber));
            }
          }}
          onSort={(sortConfig) => {

            dispatch(fetch[@EntityName@]SearchResultset(location.search, pageSize, page, sortConfig));
            // if (searchRequest) {
            //   const newSearchRequest = {
            //     ...searchRequest,
            //     listSortConfiguration: sortConfig
            //   }
            //   dispatch(postSearchClientRequest(newSearchRequest, t("dataLoadingMessage")));
            // } else {
            //   if (pageSize && page) {
            //     dispatch(postSearchClientRequest({ template: searchTemplate as unknown as ClientSearchTemplate, listSortConfiguration: sortConfig }, t("dataLoadingMessage")));
            //   } else {
            //     dispatch(postSearchClientRequest({ template: { maxRowCount: 25 }, listSortConfiguration: sortConfig }, t("dataLoadingMessage")));
            //   }
            // }

          }}
        />
    </>
  );
};

export default [@EntityName@]ListPage;
