import React, { useEffect, useRef, useState } from "react";
import {useHistory} from "react-router-dom";
import {useFormik} from "formik";
import {useTranslation} from "react-i18next";
import {useDispatch, useSelector} from "react-redux";
import {ComboBox, ComboBoxItem, Form, DatePicker, NumberInput, TextInput} from "@jfront/ui-core";
import {
  [@#fieldsCreate@]
  [@#isTypeOption@][@FieldName@]Option,[@/isTypeOption@]
  [@/fieldsCreate@]
  [@EntityName@], [@EntityName@]Create} from "../api/[@EntityName@]Types";
import {selectSaveOnCreate[@EntityName@], submitSaveOnCreate} from "../[@entityName@]Slice";
import {[@entityName@]CrudApi} from "../api/[@EntityName@]CrudApi";
import {
  [@#fieldsCreate@]
  [@#isTypeOption@]get[@FieldName@]Options,[@/isTypeOption@]
  [@/fieldsCreate@]
} from "../api/[@EntityName@]Api";
import queryString from "query-string";

const [@EntityName@]CreatePage = () => {
  //----------------
  let formRef = useRef(null) as any;
  const { t } = useTranslation();
  const history = useHistory();
  const dispatch = useDispatch();
  //----------------

  [@#fieldsCreate@]
  [@#isTypeOption@]const [[@fieldName@]Options, set[@FieldName@]Options] = useState<[@FieldName@]Option[]>();[@/isTypeOption@]
  [@/fieldsCreate@]
  
  const onCreate[@EntityName@] = useSelector(selectSaveOnCreate[@EntityName@]);
  useEffect(() => {
    if (onCreate[@EntityName@]) {
      dispatch(submitSaveOnCreate());
      formRef.current?.dispatchEvent(new Event("submit"));
    }
  }, [onCreate[@EntityName@]]);

  [@#fieldsCreate@]
  [@#isTypeOption@]
  useEffect(() => {
    get[@FieldName@]Options().then((options) => {
      set[@FieldName@]Options(options);
    });
  }, []);
  [@/isTypeOption@]
  [@/fieldsCreate@]
  
  const formik = useFormik<[@EntityName@]Create>({
    initialValues: {
      [@#fieldsCreate@]
      [@fieldName@][@#isTypeOption@]Code[@/isTypeOption@]: [@#isTypeOption@]""[@/isTypeOption@][@#isTypeText@]""[@/isTypeText@][@#isTypeDate@]null[@/isTypeDate@],
      [@/fieldsCreate@]
    },
    onSubmit: (values: [@EntityName@]Create) => {
      [@entityName@]CrudApi.create(values).then(([@entityName@]: [@EntityName@]) => {
        history.push(`/[@entity_name_dash@]/${[@entityName@].[@entityId@]}/detail`);
      });
    },
    validate: (values) => {
      const errors: {
        [@#fieldsCreate@]
        [@#isFieldRequired@]
        [@fieldName@][@#isTypeOption@]Code[@/isTypeOption@]?: string;
        [@/isFieldRequired@]
        [@/fieldsCreate@]
      } = {};
      [@#fieldsCreate@]
      [@#isFieldRequired@]
      if (!values.[@fieldName@][@#isTypeOption@]Code[@/isTypeOption@]) {
        errors.[@fieldName@][@#isTypeOption@]Code[@/isTypeOption@] = t("validation.notEmpty");
      }
      [@/isFieldRequired@]
      [@/fieldsCreate@]
      
      // TODO вызов должен быть не из formik.validate, а из formik.handleChange
      updateQueryString(values);
      
      return errors;
    },
  });

  // TODO переместить на системный уровень
  function updateQueryString(values) {
    let query = queryString.stringify(values);
    history.replace(`?${query}`);
  }

  return (
    <>
      <Form id="form-create" onSubmit={formik.handleSubmit} ref={formRef}>
        
        [@#fieldsCreate@]
        [@>FieldTemplate.mustache@]
        [@/fieldsCreate@]
        
      </Form>
    </>
  );
};

export default [@EntityName@]CreatePage;
