import React, { useEffect } from "react";
import { useParams } from "react-router-dom";
import { useTranslation } from "react-i18next";
import { useDispatch, useSelector } from "react-redux";
import { Form } from "@jfront/ui-core";
import { getRecordById } from "../state/[@EntityName@]CrudSlice";
import { RootState } from "../../../app/store";

const [@EntityName@]DetailPage = () => {
  //----------------
  const { t } = useTranslation();
  const dispatch = useDispatch();
  //----------------

  let { [@entityId@]: [@entityId@] } = useParams();
  const { currentRecord, error } = useSelector(
    (state: RootState) => state.[@entityName@].[@entityName@]CrudSlice
  );

  useEffect(() => {
    dispatch(getRecordById({ primaryKey: [@entityId@] }));
  }, []);

  return (
    <>
      {error ? <div>{error.message}</div> : null}
      <Form>
        
        [@#fieldsDetail@]
        [@#isTypeOption@]
        <Form.Field>
          <Form.Label>{t("[@entityName@].fields.[@fieldName@]")}:</Form.Label>
          <Form.Label style={{ width: "350px", justifyContent: "flex-start" }}>
            {currentRecord?.[@fieldName@]?.name}
          </Form.Label>
        </Form.Field>
        [@/isTypeOption@]
        
        [@#isTypeText@]
        <Form.Field>
          <Form.Label>{t("[@entityName@].fields.[@fieldName@]")}:</Form.Label>
          <Form.Label style={{ width: "350px", justifyContent: "flex-start" }}>
            {currentRecord?.[@fieldName@]}
          </Form.Label>
        </Form.Field>
        [@/isTypeText@]
        
        [@#isTypeDate@]
        <Form.Field>
          <Form.Label>{t("[@entityName@].fields.[@fieldName@]")}:</Form.Label>
          <Form.Label style={{ width: "350px", justifyContent: "flex-start" }}>
            {currentRecord ? currentRecord?.[@fieldName@] ? new Date(currentRecord?.[@fieldName@]).toLocaleDateString() : "" : null}
          </Form.Label>
        </Form.Field>
        [@/isTypeDate@]
        [@/fieldsDetail@]
        
      </Form>
    </>
  );
};

export default [@EntityName@]DetailPage;
