import React, { useEffect, useState } from "react";
import { useTranslation } from "react-i18next";
import { useHistory, useLocation } from "react-router-dom";
import { useDispatch, useSelector } from "react-redux";
import queryString from 'query-string';
import { Grid } from "@jfront/ui-core";
import { [@EntityName@] } from "../api/[@EntityName@]Types";
import { postSearch, postSearchRequest, search } from "../state/[@EntityName@]SearchSlice";
import { actions as crudActions } from "../state/[@EntityName@]Slice";
import { RootState } from "../../../app/store";

const useQuery = () => {
  return new URLSearchParams(useLocation().search);
};

const [@EntityName@]ListPage = () => {
  //----------------
  const history = useHistory();
  const { ...template } = queryString.parse(useLocation().search);
  const location = useLocation();
  const query = useQuery();
  const { t } = useTranslation();
  const dispatch = useDispatch();
  //----------------

  const [page, setPage] = useState({
    pageSize: parseInt(query.get("pageSize") as string),
    pageNumber: parseInt(query.get("page") as string),
  });

  const { currentRecord } = useSelector((state: RootState) => state.[@entityName@].[@entityName@]CrudSlice);
  const { records, searchId, searchRequest, isLoading, resultSetSize } = useSelector(
    (state: RootState) => state.[@entityName@].[@entityName@]SearchSlice
  );

  useEffect(() => {
    if (searchId) {
      dispatch(
        search({ searchId: searchId, pageSize: page.pageSize, pageNumber: page.pageNumber })
      );
    }
  }, [searchId, page, dispatch]);

  return (
    <>
      <Grid
        id="table"
        columns={[
          [@#fieldsList@]
          {
            Header: t("[@entityName@].fields.[@fieldName@]"),
            [@#isTypeOption@]id: "[@fieldName@]",[@/isTypeOption@]
            accessor: "[@fieldName@][@#isTypeOption@].name[@/isTypeOption@]",
          },
          [@/fieldsList@]
        ]}
        isLoading={isLoading}
        data={records}
        totalRowCount={resultSetSize}
        defaultPageSize={page.pageSize}
        defaultPageNumber={page.pageNumber}
        onSelection={
          (records) => {
            if (records) {
              if (records.length === 1) {
                if (records[0] !== currentRecord) {
                  dispatch(crudActions.setCurrentRecord({ currentRecord: records[0] }));
                  dispatch(crudActions.selectRecords({ selectedRecords: records }));
                }
            } else if (currentRecord) {
              dispatch(crudActions.setCurrentRecord({} as any));
              dispatch(crudActions.selectRecords({ selectedRecords: records }));
            }
          }
        }}
        onDoubleClick={(record: [@EntityName@]) => {
          history.push(`/[@entity_name_dash@]/${record.[@entityId@]}/detail`);
        }}
        onPaging={(pageNumber, pageSize) => {
          setPage({
            pageNumber: pageNumber,
            pageSize: pageSize,
          });
        }}
        onSort={(sortConfig) => {
          const newSearchRequest = {
            template: {
              maxRowCount: 25,
              ...template,
            },
            listSortConfiguration: sortConfig,
          };
          dispatch(
            postSearchRequest({
              searchTemplate: newSearchRequest,
            })
          );
          }}
        />
    </>
  );
};

export default [@EntityName@]ListPage;
