import React from "react";
import { useSelector } from "react-redux";
import { Route, useRouteMatch, useHistory, useParams } from "react-router-dom";
import [@EntityName@]DetailPage from "./pages/[@EntityName@]DetailPage";
import [@EntityName@]CreatePage from "./pages/[@EntityName@]CreatePage";
import [@EntityName@]SearchPage from "./pages/[@EntityName@]SearchPage";
import [@EntityName@]ListPage from "./pages/[@EntityName@]ListPage";
import [@EntityName@]EditPage from "./pages/[@EntityName@]EditPage";
import [@EntityName@]Toolbar from "./components/[@EntityName@]Toolbar";
import { Panel, Tab, TabPanel } from "@jfront/ui-core";
import { useTranslation } from "react-i18next";
import { select[@EntityName@] } from "./[@entityName@]Slice";
import { [@EntityName@] } from "./api/[@EntityName@]Types";

function [@EntityName@]Route() {
  const { path } = useRouteMatch();
  const history = useHistory();
  const { t } = useTranslation();
  const current[@EntityName@]: [@EntityName@] = useSelector(select[@EntityName@]);

  return (
    <Panel>
      <Panel.Header>
        <TabPanel>
          <Tab
            selected={true}
            onClick={() => {
              history.push(`/[@entity_name_dash@]/${current[@EntityName@]?.[@entityId@]}/detail`);
            }}
          >
            {t("[@entityName@].header")}
          </Tab>
        </TabPanel>
        <[@EntityName@]Toolbar />
      </Panel.Header>
      <Panel.Content>
        <Route path={`${path}`} exact>
          <[@EntityName@]SearchPage />
        </Route>
        <Route path={`${path}/create`} exact>
          <[@EntityName@]CreatePage />
        </Route>
        <Route path={`${path}/:[@entityId@]/edit`} exact>
          <[@EntityName@]EditPage />
        </Route>
        <Route path={`${path}/:[@entityId@]/detail`}>
          <[@EntityName@]DetailPage />
        </Route>
        <Route path={`${path}/list`}>
          <[@EntityName@]ListPage />
        </Route>
      </Panel.Content>
    </Panel>
  );
}

export default [@EntityName@]Route;
