import React, {useContext, useEffect, useState} from "react";
import { Route, useRouteMatch } from "react-router-dom";
import { useTranslation } from "react-i18next";
import { Forbidden, Loader} from '@jfront/oauth-ui'
import { UserContext } from '@jfront/oauth-user'
import [@EntityName@]Route from "./[@EntityName@]Route";

function [@EntityName@]ModuleRoute() {
  const { t } = useTranslation();
  const { path } = useRouteMatch();
  const { isRoleLoading, isUserInRoles } = useContext(UserContext);
  const [hasAccess, setHasAccess] = useState(true);

  /*useEffect(() => {
    isUserInRoles(["JrsEdit[@EntityName@]", "JrsEditAll[@EntityName@]", "JrsAssignResponsible[@EntityName@]"])
      .then(setHasAccess)
    // eslint-disable-next-line react-hooks/exhaustive-deps
  }, []); */

  return (
    <>
      {isRoleLoading && <Loader title="JepRiaShowcase" text={t("loadingRoles")} />}
      {!isRoleLoading && !hasAccess && <Forbidden />}
      {!isRoleLoading && hasAccess && (
        <>
          <Route path={`${path}`}>
            <[@EntityName@]Route />
          </Route>
        </>)}
    </>
  );
}

export default [@EntityName@]ModuleRoute;
