import React, {Suspense, useContext, useEffect} from "react";
import { BrowserRouter, Route, Switch } from "react-router-dom";
import { useTranslation } from "react-i18next";
import [@EntityName@]ModuleRoute from "./features/[@entityName@]/[@EntityName@]ModuleRoute";
import { UserPanel } from '@jfront/oauth-ui';
import { UserContext } from "@jfront/oauth-user";
import { Loader } from '@jfront/oauth-ui'

function Main() {
  const { i18n, t } = useTranslation();
  const language = new URLSearchParams(window.location.search).get("locale");
  const { currentUser, isUserLoading } = useContext(UserContext);

  useEffect(() => {
    if (language) {
      i18n.changeLanguage(language);
    }
  }, [language]);

  return (
    <>
      {currentUser.username !== "Guest" && !isUserLoading &&
        <BrowserRouter basename={`${process.env.PUBLIC_URL}`}>
          <Switch>
            <Route path="/[@entity_name_dash@]">
              <[@EntityName@]ModuleRoute />
            </Route>
          </Switch>
        </BrowserRouter>}
      {isUserLoading && <Loader title="MRT_Application" text={t("loadingUser")} />}
    </>
  );
}

const App = () => {
  return (
    <Suspense fallback={<Loader title="MRT_Application" text="Загрузка приложения..." />}>
      <Main />
    </Suspense>
  );
};

export default App;
