{
  "toolbar": {
    "list": "Список",
    "find": "Найти"
  },
  "[@entityName@]": {
    "header": "Признаки документов",
    "fields": {
      "directionType": "Направление",
      "documentMarkName": "Наименование",
      "beginDate": "Дата начала действия",
      "endDate": "Дата окончания действия",
      "maxRowCount": "Количество записей"
    }
  },
  "validation": {
    "notEmpty": "Поле должно быть заполнено",
    "onlyDigits": "Значение должно состоять из цифр",
    "onlySymbolsAndDigits": "Значение должно состоять из букв английского алфавита и цифр",
    "maxLength": "Максимальная длина значения не больше 32 символов"
  }
}
