import axios from "axios";
import { API_PATH } from "../../../config";
import {
  [@#allOptions@]
  [@FieldName@]Option,
  [@/allOptions@]
} from "./[@EntityName@]Types";

const API_URL = API_PATH;
const withCredentials = false;

[@#allOptions@]
export const get[@FieldName@]Options = (): Promise<[@FieldName@]Option[]> => {
  const url = `${API_URL}/[@entity_name_dash@]/option/[@field_name_dash@]`;
  axios.defaults.withCredentials = withCredentials;

  return axios
    .get(url, {
      headers: {
        Accept: "application/json;charset=utf-8",
        "Content-Type": "application/json;charset=utf-8",
      },
    })
    .then((response) => response.data)
    .catch((reason) => {
      return Promise.reject(reason);
    });
};
[@/allOptions@]