import React from "react";
import { useSelector } from "react-redux";
import { useTranslation } from "react-i18next";
import { useHistory, useLocation } from "react-router-dom";
import {
  Toolbar,
  ToolbarButtonBase,
  ToolbarButtonCreate,
  ToolbarButtonDelete,
  ToolbarButtonEdit,
  ToolbarButtonFind,
  ToolbarButtonSave,
  ToolbarButtonView,
  ToolbarSplitter,
} from "@jfront/ui-core";
import { [@EntityName@] } from "../api/[@EntityName@]Types";
import { Workstates, useWorkstate } from "../../../app/common/useWorkstate";
import { deleteRecord } from "../state/[@EntityName@]Slice";
import { RootState, useAppDispatch } from "../../../app/store";
import { search } from "../state/[@EntityName@]SearchSlice";

const useQuery = () => {
  return new URLSearchParams(useLocation().search);
};

const [@EntityName@]Toolbar = ({ formRef }) => {
  //----------------
  const { t } = useTranslation();
  const history = useHistory();
  const { pathname } = useLocation();
  const dispatch = useAppDispatch();
  //----------------

  const { records, searchId, pageSize, pageNumber, } = useSelector((state: RootState) => state.[@entityName@].[@entityName@]SearchSlice);
  const { currentRecord, selectedRecords } = useSelector(
    (state: RootState) => state.[@entityName@].[@entityName@]CrudSlice
  );
  const state = useWorkstate(history.location.pathname);

  return (
    <Toolbar>
      <ToolbarButtonCreate
        disabled={state === Workstates.Detail}
        onClick={() => history.push(`/[@entity_name_dash@]/create`)}
      />
      <ToolbarButtonSave
        disabled={Workstates.Create !== state && Workstates.Edit !== state}
        onClick={() => {
          formRef.current?.dispatchEvent(new Event("submit"));
        }}
      />
      <ToolbarButtonEdit
        disabled={!currentRecord}
        onClick={() => {
          history.push(`/[@entity_name_dash@]/${currentRecord?.[@entityId@]}/edit`);
        }}
      />
      <ToolbarButtonDelete
        disabled={!currentRecord}
        onClick={() => {
          dispatch(
            deleteRecord({
              primaryKeys: selectedRecords.map((selectRecord: [@EntityName@]) => selectRecord.[@entityId@]),
            })
          ).then(() => {
            if (pathname.endsWith("/list") && searchId) {
              dispatch(search({ searchId, pageSize: pageSize, pageNumber: pageNumber }));
            } else {
              history.push(`/[@entity_name_dash@]/list?pageSize=${pageSize}&page=${pageNumber}`);
            }
          });
        }}
      />
      <ToolbarButtonView
        disabled={!currentRecord || Workstates.Detail === state}
        onClick={() => history.push(`/[@entity_name_dash@]/${ currentRecord?.[@entityId@] }/detail`)}
      />
      <ToolbarSplitter />
      <ToolbarButtonBase
        disabled={Workstates.List !== state && records ? records.length === 0 : true}
        onClick={
          () => history.push(`/[@entity_name_dash@]/list/?pageSize=${pageSize}&page=${pageNumber}`) // TODO full template
        }
      >
        {t("toolbar.list")}
      </ToolbarButtonBase>
      <ToolbarButtonFind
        disabled={state === Workstates.Search}
        onClick={() => history.push(`/[@entity_name_dash@]`)}
      />
      <ToolbarButtonBase
        disabled={state !== Workstates.Search}
        type="submit"
        onClick={() => {
          formRef.current?.dispatchEvent(new Event("submit"));
        }}
      >
        {t("toolbar.find")}
      </ToolbarButtonBase>
    </Toolbar>
  );
};

export default [@EntityName@]Toolbar;
