import { createCrudSlice, EntityState } from "@jfront/core-redux-thunk";
import { [@EntityName@] } from "../api/[@EntityName@]Types";


export const initialEntityState: EntityState<[@EntityName@]> = {
  currentRecord: null,
  error: null,
  isLoading: false,
  selectedRecords: [],
};

const entitySlice = createCrudSlice({
  name: "[@entityName@]Slice",
  initialState: initialEntityState,
  reducers: {},
});

const thunkCreators = entitySlice.thunk;

// export const getRecordById = thunkCreators.getRecordByIdThunk(featureCrudApi);
// export const createRecord = thunkCreators.createThunk(featureCrudApi);
// export const updateRecord = thunkCreators.updateThunk(featureCrudApi);
// export const deleteRecord = thunkCreators.deleteThunk(featureCrudApi);

export const { name, actions, reducer } = entitySlice;
